*{
    color: #9747FF;
}
.animeimage{
    width: 100%;
    height: 400px;
}
 .underline {
        border-bottom:1px solid;
    }
.seichi-desc-title{
    border-bottom:1px solid;
    margin-bottom: 50px;
}
.seichi-list {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    gap: 20px;
    margin-bottom: 60px;
}
  
.seichi-card {
    min-width: 200px;
    height: 300px;
    position: relative;
}
  
.seichi-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
  
.seichi-card h2 {
    position: absolute;
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media (max-width: 390px) {
    *{
        color: #9747FF;
    }
    .animeimage{
        width: 100%;
        height: 400px;
    }
    .underline {
        border-bottom:1px solid;
    }
    .seichi-desc-title{
        border-bottom:1px solid;
        margin-bottom: 90px;
    }
    .seichi-list {
        display: flex;
        overflow-x: scroll;
        padding: 20px;
        gap: 20px;
        margin-bottom: 60px;
    }
      
    .seichi-card {
        min-width: 200px;
        height: 300px;
        position: relative;
    }
      
    .seichi-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
      
    .seichi-card h2 {
        position: absolute;
        bottom: 0;
        color: white;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: 18px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}