header{
    margin-top: 10px;
    background-color: #FFFFFF;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

header h1 {
    color: #9747FF;
    text-align: center;
    font-size: 45px;
}