.postform{
    margin-top: 150px;
}
.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;

    border-radius: 5px;
    padding: 20px;

}
  
.create-post-form input,
.create-post-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
  
.create-post-form input[type="text"] {
    background-color: #f0f0f0;
}
  
.create-post-form input[type="file"] {
    background-color: #f0f0f0;
}
  
.create-post-form button {
    background-color: #9747FF;
    color: #fff;
    cursor: pointer;
}
  
.create-post-form button:hover {
    background-color: #7c3aed;
}
  
@media (max-width: 390px) {
    .postform{
        margin-top: 150px;
    }
    .posttitle{
        width: 100%;
        padding-left: 120px;
    }
    .posttitle h1{
        text-align: center;
    }
    .create-post-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
    
        border-radius: 5px;
        padding: 20px;
    
    }
    .create-post-form input,
    .create-post-form button {
        width: 100%;
        

        margin-bottom: 30px;
        border: none;
        border-radius: 5px;
    }
    .create-post-form input[type="text"] {
        background-color: #f0f0f0;
    }
      
    .create-post-form input[type="file"] {
        background-color: #f0f0f0;
    }
      
    .create-post-form button {
        background-color: #9747FF;
        color: #fff;
        cursor: pointer;
    }
      
    .create-post-form button:hover {
        background-color: #7c3aed;
    }
      
}
